@using UniPhotoGallery.DomainModel.Domain
@model UniPhotoGallery.DomainModel.ViewModels.ProcessUploadedPhotosVM

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section AdditionalScripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script src="~/Scripts/ProcessUploadedPhotos.js"></script>
}

<h2>Fotky čekající na zpracování</h2>

<div class="two-cols ui-widget ui-helper-clearfix">
    <div class="col1">
        <div class="path">
            <a href="/admin/processuploadedphotos?path=">root</a>
            / 
            @if (!string.IsNullOrEmpty(Model.CurrentPath))
            {
                if (Model.CurrentPath.Contains(@"\"))
                {
                    var pathChunks = Model.CurrentPath.Split(new [] {'\\'}, StringSplitOptions.RemoveEmptyEntries);
                    for (int i = 0; i < pathChunks.Length; i++)
                    {
                        var parentPath = "";
                        for (int j = 0; j <= i; j++)
                        {
                            parentPath = parentPath + @"\" + pathChunks[j];
                        }

                        parentPath = parentPath.TrimStart(new[] {'\\'});
                        
                        <a href="/admin/processuploadedphotos?path=@parentPath">@pathChunks[i]</a> @:/
                    }
                }
                else
                {
                    <a href="/admin/processuploadedphotos?path=@Model.CurrentPath">@Model.CurrentPath</a>
                }
            }
        </div>

        <div class="container h700">
            <ul id="photos" class="photoContainer ui-helper-reset ui-helper-clearfix">
                @if (Model.PhotosWaiting != null && Model.PhotosWaiting.Any())
                {
                    foreach (var photo in Model.PhotosWaiting)
                    {
                        <li class="ui-widget-content ui-corner-tr" data-photoId="@photo.PhotoId">
                            <img src="@photo.ThumbPath"/>
                        </li>
                    }
                }
            </ul>
        </div>
        
        <div class="path">
            @if (Model.SubDirs != null && Model.SubDirs.Any())
            {
                foreach (var subDir in Model.SubDirs)
                {
                    <a href="/admin/processuploadedphotos?path=@subDir.FullParentPath">@subDir.DirName</a>
                }
            }
        </div>
    </div>

    <div class="col2">
        <form method="POST" action="/admin/ProcessUploadedPhotosCustom" id="processUploadedPhotosForm">
            @Html.HiddenFor(p => p.CurrentPath)
            
            @if (Model.Galleries != null && Model.Galleries.Count > 0)
            {
                var rootGallery = Model.Galleries.First(g => g.GalleryType == (int)GalleryTypes.Root);
    
                <p><strong>@rootGallery.Name</strong></p>
                
                <div class="dropContainer">
                    @Html.Action("GalleryLeafDroppable", "GalleryLeaf", new { area = "Partials", leafId = rootGallery.GalleryId })
                </div>
            }
        </form>
        
        <span id="galleryAddHolder" class="Hidden dropContainer">
            <div id="AddNewGalleryDescription"></div>
            <form method="POST" action="/admin/InsertGalleryFromLeaf">
                <input type="hidden" name="ParentGalleryId" id="ParentGalleryId" value="" />
                <div class="inputRow">
                    <span class="inputField">Název :  <input type="text" name="Name" class="w50" /></span>
                    <span class="inputField">Náhledová: <input type="checkbox" name="PreviewGallery"/></span>
                    <input type="submit" value="Přidat"/>
                </div>
            </form>
        </span>

    </div>
</div>
<div class="cleaner"></div>





















